*.tlog
*.opendb
*.iobj
*.ipdb
*.db

Rmn Render/Rmn Render/intersectionT.txt
Rmn Render/Rmn Render/normals.txt
Rmn Render/x64/Data/head.cfg
Rmn Render/x64/Data/head.dat
Rmn Render/x64/Data/vertebra.cfg
Rmn Render/x64/Data/vertebra.dat
*.pdb
*.obj
*.log
*.exe
*.ilk
*.idb
*.suo
*.obj